.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.expense-date {
  font-size: 12px;
  color: #777;
}

.expense-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expense-amount {
  font-weight: bold;
}

.expense-remove {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}
